
@{
    ViewBag.Title = "addPost";
}


@model FaceBookApp.ViewModels.PostandUserViewModel




@Html.Partial("_Navbar", Model.user)

@Html.Partial("_Sidebar", Model.user)




<h2>AddPost</h2>

<h2>@Model.user.userFirstName</h2>

@using (Html.BeginForm("publishPost", "Post"))
{

    <div class="form-group">
        @Html.LabelFor(l => l.post.postContent)
        @Html.TextBoxFor(l => l.post.postContent, new { @class = "form-control" })
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.post.postHidden) Hide From All Friends
        </label>
       
    </div>


    @Html.HiddenFor(l => l.post.postAuthor, new { @Value = Model.user.userId })

    <button type="submit" class="btn btn-danger">Publish</button>


}



