<!-- Side navigation -->
@model FaceBookApp.Models.User

<div class="sidenav barralado sidebar">

    <h2 class="sidebar-title">Welcome  @Model.userFirstName</h2>
    <img class="profile" src="http://placekitten.com/150/150"> <!--Profie pic-->

    <br />   <br />   <br />
    <br />
    @Html.ActionLink("Add New Post", "addPost", "Post")

    <br />

    @Html.ActionLink("My Friends", "displayFreindsPage", "User")

    <br />

    @Html.ActionLink("Friends Requests", "displayRequests", "User")

    <br />

    @Html.ActionLink("Find Friends", "findFriends", "User")


</div>
