@{
    ViewBag.Title = "displayfriendProfilePosts";
}

@model FaceBookApp.ViewModels.ProfileViewModel

@Html.Partial("_NavBar", Model.User.user)
@Html.Partial("_SideBar", Model.User.user)

<h2>@Model.friend.user.userFirstName @Model.friend.user.userLastName</h2>

@if (@Model.friend.posts.Count == 0)
{
    <br />
    <h4>This user has no posts yet.</h4>
    <br />
}
@for (var j = @Model.friend.posts.Count - 1; j >= 0; j--)
{
    <div class="container">
        <div class="well">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placekitten.com/150/150"> <!--Profie pic-->
                </a>
                <div class="media-body">
                    <h4 class="media-heading">   @Model.friend.user.userFirstName  @Model.friend.user.userLastName</h4>

                    <p>
                        @Model.friend.posts[j].postContent
                    </p>

                    <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-thumbs-up"></i>  @Model.friend.posts[j].postLikes likes </span></li>
                        <li>|</li>
                        <li><span><i class="glyphicon glyphicon-thumbs-down"></i>  @Model.friend.posts[j].postDislikes dislikes </span></li>
                    </ul>
                    <button class="btn btn-primary like" id=@Model.friend.posts.ElementAt(j).postId>Like</button>
                    <button class="btn btn-primary dislike " id=@Model.friend.posts.ElementAt(j).postId>Dislike</button>
                    @using (Html.BeginForm("addComment", "comment"))
                    {
                        <div class="hiden">
                            @Html.LabelFor(l => l.comment.commentAuthor)
                            @Html.TextBoxFor(l => l.comment.commentAuthor, new { @Value = Model.User.user.userFirstName + " " + Model.User.user.userLastName })
                        </div>
                        <div class="hiden">
                            @Html.LabelFor(l => l.comment.commentId)
                            @Html.TextBoxFor(l => l.comment.commentId, new { @Value = Model.User.user.userId })
                        </div>
                        <div class="hiden">
                            @Html.LabelFor(l => l.comment.postNum)
                            @Html.TextBoxFor(l => l.comment.postNum, new { @Value = Model.friend.posts[j].postId })
                        </div>

                        @Html.LabelFor(l => l.comment.commentContent, new { @Class = "hiden" })
                        @Html.TextBoxFor(l => l.comment.commentContent)

                        <button type="submit" class="btn btn-primary">add comment</button>


                    }
                    <br />
                    <i class="glyphicon glyphicon-comment"></i> <span>Comment Section</span>
                    @{
                        if (Model.comments != null)
                        {
                            foreach (var m in Model.comments)
                            {
                                if (m.postNum == Model.friend.posts[j].postId)
                                {
                                    <h5>@m.commentAuthor says:</h5>
                                    <p>@m.commentContent</p>


                                }
                            }
                        }
                    }


                </div>
            </div>
        </div>
    </div>
}




@section scripts{

    @Scripts.Render("~/bundles/jquery")

    <script>


        $(document).ready(function () {


            $(document).ready(function () {
                $('.like').click(function () {
                    var button = $(this)

                    $.ajax({
                        type: "POST",
                        url: "/Post/likeAjax",
                        data: { id: button.attr("id") },
                        success: function () {


                            alert("post liked");
                            button.remove();

                        },

                        failure: function () {

                            alert("failed")

                        },

                        error: function () {

                            alert("error")
                        }

                    })


                });

            });


        });
        $(document).ready(function () {


            $(document).ready(function () {
                $('.dislike').click(function () {
                    var button = $(this)

                    $.ajax({
                        type: "POST",
                        url: "/Post/dislikeAjax",
                        data: { id: button.attr("id") },
                        success: function () {


                            alert("post disliked");
                            button.remove();

                        },

                        failure: function () {

                            alert("failed")

                        },

                        error: function () {

                            alert("error")
                        }

                    })


                });

            });


        });

    </script>
}

<style>
    .hiden {
        display: none;
    }
</style>
